@import "tailwindcss";

:root {
    --background: #faf5eb;
    --foreground: #0a0a0a;
    --hover: #d6d2b4;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-hover: var(--hover);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

body {
    min-height: 100vh;
    width: 100vw;
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.drawer-fontsize {
    font-size: 5vw;
}
